/* VARIABLES */

:root {
    --selection__color: #fff;
    --selection__background-color: #000;

    --font-family: 'Plus Jakarta Sans', sans-serif;
    --font-size: 16px;
    --font-weight: 400;
    --text-transform: none;
    --letter-spacing: 0;

    --color: #000;
    --background-color: #fff;

    --min-width: 1920px;
    --max-width: 1920px;

    --margin: 0 auto;

    --overflow-x: hidden;
}

/* MEDIA | VARIABLES */

/* @media (max-width: 425px) {
    :root {
        --font-size: 32px;
    }
}

@media (max-height: 845px) {
    :root {
        --letter-spacing: .6em
    }
} */

/* FONT-FACE */

@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/plus-jakarta-sans_extralight.woff2') format('woff2');
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/plus-jakarta-sans_light.woff2') format('woff2');
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/plus-jakarta-sans_regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Josefin Slab';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/josefin-slab_regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/plus-jakarta-sans_medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/plus-jakarta-sans_semibold.woff2') format('woff2');
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/plus-jakarta-sans_bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/plus-jakarta-sans_extrabold.woff2') format('woff2');
}

/* KEYFRAMES */

@keyframes opacity {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

/* CONFIG */

*,
*:before,
*:after {
    box-sizing: border-box;
}

::selection {
    color: var(--selection__color);
    background-color: var(--selection__background-color);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--margin);

    position: relative;

    min-width: var(--min-width);
    max-width: var(--max-width);

    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);

    text-transform: var(--text-transform);
    letter-spacing: var(--letter-spacing);

    color: var(--color);
    background-color: var(--background-color);
}

body,
.page {
    min-height: 100vh;
}

svg,
img,
video,
a {
    display: block;
}

img,
video {
    object-fit: cover;
}

a {
    text-decoration: none;

    color: inherit;

    outline: none;
}

input,
button {
    padding: 0;

    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;

    text-transform: inherit;
    letter-spacing: inherit;

    background: none;

    border: none;
    outline: none;
}

button {
    cursor: pointer;
}

ul,
ol {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;

    font-size: inherit;
    font-weight: inherit;
}

/* STYLES */

h3 {
    font-size: 40px;
}

h4 {
    font-size: 24px;
    font-weight: 600;
}

.icon.icon_small {
    min-width: 16px;
    width: 16px;
    min-height: 16px;
    height: 16px;
}

/* BRAND */

.brand__name {
    font-family: 'Josefin Slab';
    font-size: 64px;

    letter-spacing: .1em;

    color: #fff;
}

/* TITLE */

.title {
    font-size: 40px;

    color: #fff;
}

/* MAIN */

.main {
    padding: 16px 96px 64px;

    position: relative;

    overflow-x: hidden
}

.main:after {
    content: '';

    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: #0f1014;

    z-index: -2;
}

.main__img {
    position: absolute;

    width: 384px;
    height: 512px;

    z-index: -1;
}

.main__img_1 {
    top: 128px;
    left: 0;

    transform: rotate(10deg);
}

.main__img_2 {
    top: 160px;
    right: 0;

    transform: rotate(-20deg);
}

.main__slogan {
    margin: 96px 0;

    font-size: 128px;
    font-weight: 800;

    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2em;

    color: #fff;
}

.main__text {
    width: 512px;

    font-size: 20px;

    color: #e0e0e0;
}

.main__box {
    padding-right: 384px;

    display: flex;

    align-items: center;
    justify-content: space-between;
}

/* DESCRIPTION */

.description {
    padding: 64px;

    position: relative;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.description__after {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: -2;
}

.description__text {
    font-size: 28px;

    text-align: center;
}

/* OUR DESIGNER ESSENTIESL */

.our-designer-essentiels {
    padding: 64px 96px 48px;

    display: flex;
    flex-direction: column;

    row-gap: 96px;

    background-color: #000;
}

.our-designer-essentiels__box {
    display: flex;

    align-items: center;
    justify-content: space-between;
}

.our-designer-essentiels__text {
    width: 896px;

    font-size: 18px;

    color: #fff;
}

.designers {
    display: flex;

    align-items: center;
}

.designer {
    margin-right: -32px;

    position: relative;
}

.designer_1 {
    margin-top: 128px;

    z-index: 4;
}

.designer_2 {
    margin-bottom: 256px;

    z-index: 3;
}

.designer_3 {
    margin-bottom: 64px;

    z-index: 2;
}

.designer_4 {
    margin-bottom: 192px;

    z-index: 1;
}

.designer__img {
    width: 448px;
    height: 512px;
}

.designer__box {
    padding: 16px;

    position: absolute;

    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    row-gap: 10px
}

.designer__name {
    font-size: 24px;
    
    color: #fff;
}

.designer__description {
    font-size: 12px;
    font-weight: 300;

    color: #e0e0e0;
}

/* WHY CHOOSE US */

.why-choose-us {
    padding: 64px 128px;

    display: flex;
    flex-direction: column;

    row-gap: 64px;
}

.why-choose-us__title {
    font-weight: 600;

    color: #000;
}

.why-choose-us__box.why-choose-us__box_1,
.why-choose-us__box.why-choose-us__box_2 {
    display: grid;
}

.why-choose-us__box.why-choose-us__box_1 {
    grid-template-columns: 1fr 1fr;
}

.why-choose-us__box.why-choose-us__box_2 {
    grid-template-columns: 1fr 1fr 1fr;

    column-gap: 16px;
}

.why-choose-us__box.why-choose-us__box_21,
.why-choose-us__box.why-choose-us__box_211 {
    display: flex;
    flex-direction: column;
}

.why-choose-us__box.why-choose-us__box_21 {
    row-gap: 24px;
}

.why-choose-us__box.why-choose-us__box_211 {
    row-gap: 16px;
}

.why-choose-us__item {
    display: flex;
    flex-direction: column;

    row-gap: 16px;
}

.why-choose-us__item-btn {
    padding: 0 !important;

    font-weight: 700;

    color: #8d4706 !important;
}

/* PRODUCT HIGHLIGHT */

.product-highlight {
    padding: 48px 48px 48px 128px;

    display: flex;

    align-items: flex-start;

    background-color: #000;
}

.product-highlight__box_1 {
    margin-top: 32px;
    padding: 64px;

    width: 420px;

    display: flex;
    flex-direction: column;

    align-items: flex-start;

    row-gap: 40px;

    background-color: #000;

    z-index: 2;
}

.product-highlight__box_12 {
    display: flex;
    flex-direction: column;

    row-gap: 20px;
}

.product-highlight__title {
    font-size: 50px;
    font-weight: 600;
}

.product-highlight__text {
    font-size: 18px;

    color: #fff;
}

.product-highlight__img {
    margin-left: -64px;
}

.product-highlight__img_1 {
    width: 768px;
    height: 896px;

    z-index: 1;
}

.product-highlight__img_2 {
    width: 512px;
    height: 800px;

    z-index: 2;
}

.product-highlight__box_2 {
    display: flex;

    align-items: center;
}

.product-highlight__btn {
    background-color: #8d4706;
}

.product-highlight__btn-svg {
    width: 16px;
    height: 16px;
}

/* DISCOUNT */

.discount {
    padding: 96px 96px;

    position: relative;

    display: flex;
    flex-direction: column;

    align-items: center;

    row-gap: 64px;
}

.discount__img {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: -2;
}

.discount__img-overlay {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .5);

    z-index: -1;
}

.discount__box {
    display: flex;
    flex-direction: column;

    align-items: center;

    row-gap: 32px;
}

.discount__title {
    font-weight: 600;
}

.discount__text {
    width: 1024px;

    text-align: center;

    color: #fff;
}

.discount__btn {
    border: 1px solid #fff;
}

/* CHECK OUR INSTAGRAM */

.check-our-instagram {
    padding: 48px 96px;

    display: flex;
    flex-direction: column;

    align-items: center;

    row-gap: 64px;
}

.check-our-instagram__box_1 {
    display: flex;
    flex-direction: column;

    align-items: center;

    row-gap: 20px;
}

.check-our-instagram__title {
    font-weight: 600;

    color: #000;
}

.check-our-instagram__text {
    text-align: center;
}

.check-our-instagram__box_2 {
    margin: 32px 0;

    display: flex;

    align-items: center;
}

.check-our-instagram__img {
    margin-right: -64px;

    width: 384px;
    height: 512px;
}

.check-our-instagram__img_1 {
    transform: scale(1.05);
}

.check-our-instagram__img_2 {
    transform: scale(0.95);
}

.check-our-instagram__img_3 {
    transform: scale(1.075);
}

.check-our-instagram__img_4 {
    transform: scale(0.95);
}

/* FOOTER */

.footer {
    padding: 48px 128px 48px 96px;

    position: relative;
}

.footer:after {
    content: '';

    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: #222222;

    z-index: -2;
}

.footer__box_1 {
    padding: 16px 0 128px;

    display: flex;

    column-gap: 384px;
}

.footer__box_11 {
    width: 30%;

    display: flex;
    flex-direction: column;

    align-items: flex-start;

    row-gap: 40px;
}

.footer__form {
    padding: 2px 2px 2px 16px;

    position: relative;

    display: inline-flex;
    
    background-color: #717171;
}

.footer__input::placeholder {
    color: #e0e0e0;
}

.footer__btn {
    background-color: #0f1014;
}

.footer__box_12 {
    width: 70%;

    display: flex;

    justify-content: space-around;
}

.map {
    display: flex;
    flex-direction: column;

    row-gap: 20px;
}

.map__title {
    font-size: 20px;

    color: #fff;
}

.map__box {
    display: flex;
    flex-direction: column;

    row-gap: 10px;
}

.map__item {
    color: #e0e0e0;
}

.footer__text {
    color: #fff;
}

.footer__box_2 {
    padding-top: 16px;

    display: flex;

    align-items: center;
    justify-content: space-between;
}

.footer__box_21 {
    display: flex;
    flex-direction: column;

    row-gap: 10px;
}

.footer__box_211 {
    display: flex;

    column-gap: 10px;

    color: #e0e0e0;
}

.footer__box_211-item {
    color: #e0e0e0;
}

.footer__rights {
    color: #e0e0e0;
}

/* HEADER */

.header {
    display: flex;

    align-items: center;
    justify-content: space-between;
}

/* NAV */

.nav {
    width: 224px;

    display: flex;

    align-items: center;

    column-gap: 64px;
}

.nav_right {
    justify-content: flex-start;
}

.nav_right {
    justify-content: flex-end;
}

.nav__item {
    text-transform: uppercase;

    color: #fff;
}

/* BTN */

.btn {
    padding: 16px 20px;

    display: inline-flex;

    align-items: center;

    column-gap: 20px;

    color: #fff;
}

.main__btn {
    font-size: 20px;
    font-weight: 600;

    letter-spacing: .05em;

    background-color: #8d4706;
}

.main__btn-svg {
    min-width: 16px;
    width: 16px;
    min-height: 16px;
    height: 16px;
}

/* SVG */

.svg {
    fill: #fff;
}

/* SOCIAL */

.custom-social {
    display: inline-flex;

    z-index: 1;
}

.custom-social_main {
    flex-direction: column;

    row-gap: 16px;
}

.custom-social_footer {
    flex-direction: row;
}

.social__item {
    padding: 10px;

    border: 1px solid #222222;
    border-radius: 50%;
}

.social__item-svg {
    min-width: 20px;
    width: 20px;
    min-height: 20px;
    height: 20px;
}
